{% extends 'base.html' %}
{% block content %}

<section class="mx-5 px-5">
    <div class="text-center">
        <h2 class="pt-5">About us</h2>
    </div>
    <!-- underscore line goes here -->
    <section d-flex align-content-between >
        <div class="text-center">
            <h3>a simple way to find a recipe</h3>
        </div>
        <div class="text-center pt-5">
            <p>We believe good food doesn't have to be complicated or expensive. We believe you can create meals that you're proud of, meals that make you feel full and healthy, meals that make you want to brag on social media, meals that will make you want your leftovers (no, really).</p>
        </div>
    </section>
    <div class="row d-flex align-items-center">
        <div class="col d-flex justify-content-center">
            <img src="../../static/images/undraw_cooking_re_a12t (1).svg" id="aboutimg1">
        </div>
        <div class="col d-flex justify-content-center">
            <img src="../../static/images/undraw_barista_re_fm8w.svg" id="aboutimg2">
        </div>
    </div>
</section>

{% endblock %}