{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center">{{ current_user.username }}'s user profile</h1>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
<div class="container p-10">
    <div class="row"><br>
        <h3 class="p-5">Here are your profile details</h3>
            <div class="card">
                <div class="card-header">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{ current_user.email }}</li>
                    <li class="list-group-item">Username: {{current_user.username }}</li>
                </ul>
                </div>
            </div>

    </div>
    
    <div class="row" style="margin-top: 20px;">
        {% if current_user.is_authenticated %}
        {% for item in data %}
        <div class="card" style="width: 18rem;">
            <img src="{{item.img_url}}" class="card-img-top" alt="{{item.rid}}">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-warning">Delete</button>

            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
  
</div>
</section>
{% endblock %}