{% extends 'base.html' %}
{% block content %}
<section class="text-center">
    <div class="container p-10">
        <div class="row"><br>
            <h3 class="p-5 animate__animated animate__headShake" id="searchresults">Search Results for: {{ item }}</h3>
        </div>
    </div>
</section>
{% if food %}
{%for food in data['results']%}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{ food['image'] }}" class="img-fluid rounded-center" alt="{{ food['id'] }}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">{{ food['title'] }}</h5>
        <p class="card-text" id="foodID" name="foodID"><small class="text-muted">ID: {{ food['id'] }}</small></p>
        <a href="{{ url_for('site.recipeinfo', id=food['id']) }}" class="btn btn-primary">Get Recipe</a>
        </div>
    </div>
    </div>
</div>

{%endfor%}
{%endif%}



{% endblock %}