{% extends 'base.html' %}
{% block content %}
<section class="text-center">
    <div class="container p-10">
        <div class="row"><br>
            <h3 class="p-5" id="searchresults">Search Results for: {{ item }}</h3>
        </div>
    </div>
</section>
{% if food %}
{%for food in data['menuItems']%}
<div class="container"></div>
<div class="card" style="width: 18rem;">
    <img src="{{ food['image'] }}" class="card-img-top" alt="{{ food['id'] }}">
    <div class="card-body">
      <h5 class="card-title">{{ food['title'] }}</h5>
      <p class="card-text">Restaurant: {{ food['restaurant'] }} </p>
      <p class="card-text">Serving Size: {{ food['size'] }} </p>
      <p class="card-text" id="foodID" name="foodID">ID: {{ food['id'] }}</p>
      <a href="{{ url_for('site.recipeinfo') }}" class="btn btn-primary">Get Recipe</a>
    </div>
</div>
{%endfor%}
{%endif%}



{% endblock %}