.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon:hover {
    background-color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#inputsearch{
border-radius: 20px;
padding-left: 25px;
}

form {
    padding: 20px;
}

.card{
    margin: auto;
}

footer{
    padding-top: 20%;
}

img{
    border-radius: 5%;
}

#thisone{
    margin-top: 3%;
    margin-left: 3em;
    box-shadow: rgba(217, 101, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

li {
    list-style-type: none;
}

.bigcard {
    background-color: lightgray;
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ingredientstext{
    padding-top: 1%;
}

.recipetext{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

footer{
    position: relative;
}

#footerpoop{
    z-index: -1000;
}

#realfooter{
    z-index: 1000;
}

.custom-shape-divider-bottom-1671068767 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671068767 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.custom-shape-divider-bottom-1671068767 .shape-fill {
    fill: #FAAB78;
}

#aboutimg1{
    width: 50%
}

#aboutimg2{
    width: 35%;
}

#barbieman{
    width: 60%;
    padding-top: 2em;
}