.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon:hover {
    background-color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#inputsearch{
border-radius: 20px;
padding-left: 25px;
}

form {
    padding: 20px;
}

.card{
    margin: auto;
}

footer{
    padding-top: 20%;
}

img{
    border-radius: 5%;
}

#thisone{
    margin-top: 3%;
    box-shadow: rgba(217, 101, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

li {
    list-style-type: none;
}

.bigcard {
    background-color: lightgray;
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ingredientstext{
    padding-top: 1%;
}

.recipetext{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}